.offset-top {
    margin-top: 3rem;
}

.offset-top-lg {
    margin-top: 5rem;
}

.strikethrough {
    text-decoration: line-through;
}

th {
    width: 50%;
}
h1 {
    font-size:60px;
}
button {
padding:10 0 ;
}

 .btn-lg {
    padding: 20px 16px;
    font-size: 25px;
}
